<a href="https://colab.research.google.com/github/amit17133129/Body_Counter/blob/master/GreadienBoost_AdaBoost_XGBoost_Classifier_Heart_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/heart.csv")
data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [89]:
data.shape

(303, 14)

In [90]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [91]:
X = data.iloc[:,0:13].values
y = data.iloc[:,-1].values
X,y

(array([[63.,  1.,  3., ...,  0.,  0.,  1.],
        [37.,  1.,  2., ...,  0.,  0.,  2.],
        [41.,  0.,  1., ...,  2.,  0.,  2.],
        ...,
        [68.,  1.,  0., ...,  1.,  2.,  3.],
        [57.,  1.,  0., ...,  1.,  1.,  3.],
        [57.,  0.,  1., ...,  1.,  1.,  2.]]),
 array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]))

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

In [93]:
class LogisticRegression:
  
  def logistic(self):
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    from sklearn.metrics import accuracy_score
    print("Training Accuracy LogisticRegression:{:.3f}".format(model.score(X_train, y_train)))
    print("Testing Accuracy LogisticRegression:{:.3f}".format(model.score(X_test, y_test)))
      
class GradientBoostingClassifier:

  def GradientBoosting(self):
    from sklearn.ensemble import GradientBoostingClassifier
    model_1 = GradientBoostingClassifier(n_estimators = 100)
    model_1.fit(X_train, y_train)
    print("Training Accuracy GradientBoostingClassifier:{:.3f}".format(model_1.score(X_train, y_train)))
    print("Testing Accuracy GradientBoostingClassifier:{:.3f}".format(model_1.score(X_test, y_test)))


class AdaBoostClassifier:

  def AdaBoost(slef):
    from sklearn.ensemble import AdaBoostClassifier
    model_2 = AdaBoostClassifier(n_estimators=15, learning_rate=1)
    model_2.fit(X_train, y_train)
    print("Testing Accuracy AdaBoostClassifier:{:.3f}".format(model_2.score(X_train, y_train)))
    print("Testing Accuracy AdaBoostClassifier:{:.3f}".format(model_2.score(X_test, y_test)))


class XGBClassifier(LogisticRegression,GradientBoostingClassifier,AdaBoostClassifier):

  def XGBoost(self):
    from xgboost.sklearn import XGBClassifier
    import xgboost as xgb
    model_4 = XGBClassifier(n_estimators=20, learning_rate=0.1)
    model_4.fit(X_train, y_train)
    print("Testing Accuracy XGBClassifier:{:.3f}".format(model_4.score(X_train, y_train)))
    print("Testing Accuracy XGBClassifier:{:.3f}".format(model_4.score(X_test, y_test)))

obj = XGBClassifier()
print(obj.logistic())
print(obj.GradientBoosting())
print(obj.AdaBoost())
print(obj.XGBoost())

Training Accuracy LogisticRegression:0.868
Testing Accuracy LogisticRegression:0.835
None
Training Accuracy GradientBoostingClassifier:1.000
Testing Accuracy GradientBoostingClassifier:0.824
None
Testing Accuracy AdaBoostClassifier:0.858
Testing Accuracy AdaBoostClassifier:0.824
None
Testing Accuracy XGBClassifier:0.901
Testing Accuracy XGBClassifier:0.824
None

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)